* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --main-background: hsl(218, 28%, 13%);
  --footer-background: hsl(216, 53%, 9%);
  --testimonials-background: hsl(219, 30%, 18%);
  --primary-background: hsl(217, 28%, 15%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
  --container-lg: 90%;
  --container-sm: 90%;
  --transition: transform 300ms ease-in-out;
}

body {
  background-color: var(--main-background);
  color: var(--white);
  position: relative;
  z-index: -3;
}

body::before {
  content: "";
  height: 480px;
  width: 100vw;
  position: absolute;
  background-color: var(--primary-background);
  top: -30px;
  z-index: -2;
}

body::after {
  content: url(../asset/bg-curvy-mobile.svg);
  position: absolute;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 320px;
  z-index: -1;
}

body img {
  width: 100%;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: 'Raleway', sans-serif;
}

body p, body span {
  font-family: 'Open Sans', sans-serif;
}

body a {
  color: white;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

body a.btn {
  font-family: 'Open Sans', sans-serif;
  color: var(--white);
  background: var(--blue);
  padding: 12px 70px;
  border-radius: 30px;
  font-size: 18px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

body a.btn:hover {
  opacity: 80%;
}

body .container {
  width: var(--container-sm);
  margin: 0 auto;
}

body section {
  width: 100%;
  margin-top: 150px;
}

body nav .container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  place-content: space-between;
}

body nav .container a img {
  width: 50%;
}

body nav .container .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}

body nav .container .navigation a {
  font-size: 13px;
}

body header .container {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .container img {
  width: 95%;
}

body header .container .header-info {
  text-align: center;
}

body header .container .header-info h1 {
  font-size: 27px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 20px;
}

body header .container .header-info p {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  padding: 0 15px;
  margin-bottom: 50px;
}

body section.features .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 70px;
}

body section.features .container article {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

body section.features .container article img {
  width: 20%;
  margin-bottom: 20px;
}

body section.features .container article h2 {
  font-size: 20px;
}

body section.features .container article span {
  font-size: 14px;
  line-height: 25px;
}

body section.productive .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

body section.productive .container .productive-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section.productive .container .productive-info img {
  width: 95%;
}

body section.productive .container .productive-info h2 {
  font-size: 20px;
}

body section.productive .container .productive-info span {
  font-size: 14px;
  line-height: 25px;
  padding: 0 8px;
}

body section.productive .container a {
  padding: 0 8px;
  margin-top: px;
  color: var(--cyan);
  margin-bottom: 20px;
  position: relative;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

body section.productive .container a::after {
  position: absolute;
  content: "";
  width: 148px;
  height: 2px;
  background-color: var(--cyan);
  left: 8px;
  bottom: -8px;
}

body section.productive .container a:hover {
  opacity: 90%;
}

body section.testimonial .container {
  width: 80%;
}

body section.testimonial .container img.quote {
  width: 10%;
}

body section.testimonial .container .card {
  background: var(--testimonials-background);
  padding: 25px 20px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

body section.testimonial .container .card span {
  font-size: 11px;
  line-height: 18px;
}

body section.testimonial .container .card .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section.testimonial .container .card .author img {
  width: 15%;
  border-radius: 50%;
}

body section.testimonial .container .card .author .info h6 {
  font-size: 12px;
}

body section.testimonial .container .card .author .info span {
  font-size: 10px;
}

body section.newsletter {
  height: 200px;
}

body section.newsletter .container .newsletter-wrapper {
  position: relative;
  padding: 40px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: var(--primary-background);
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 20px black;
          box-shadow: 3px 3px 20px black;
}

body section.newsletter .container .newsletter-wrapper h2 {
  font-size: 20px;
}

body section.newsletter .container .newsletter-wrapper span {
  font-size: 14px;
  line-height: 25px;
}

body section.newsletter .container .newsletter-wrapper form {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

body section.newsletter .container .newsletter-wrapper form input {
  width: 100%;
  padding: 15px 30px;
  font-size: 12px;
  background: var(--white);
  border-radius: 50px;
}

body section.newsletter .container .newsletter-wrapper form input::-webkit-input-placeholder {
  color: #b9b8b8;
}

body section.newsletter .container .newsletter-wrapper form input:-ms-input-placeholder {
  color: #b9b8b8;
}

body section.newsletter .container .newsletter-wrapper form input::-ms-input-placeholder {
  color: #b9b8b8;
}

body section.newsletter .container .newsletter-wrapper form input::placeholder {
  color: #b9b8b8;
}

body section.newsletter .container .newsletter-wrapper form button {
  font-size: 14px;
  font-weight: 700;
  padding: 15px;
  border-radius: 50px;
  font-family: 'Open Sans', sans-serif;
  background: var(--blue);
  color: var(--white);
  width: 100%;
}

body footer {
  background: var(--footer-background);
}

body footer .container {
  padding-top: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

body footer .container .footer-logo {
  width: 50%;
}

body footer .container .footer-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (280px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 280px);
  gap: 50px;
}

body footer .container .footer-section .first {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

body footer .container .footer-section .first img {
  margin-top: 5px;
  width: 15%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body footer .container .footer-section .first span {
  font-size: 17px;
}

body footer .container .footer-section .second {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer .container .footer-section .second .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

body footer .container .footer-section .second .phone img {
  width: 5%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body footer .container .footer-section .third {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

body footer .container .footer-section .third li a {
  font-size: 17px;
}

body footer .container .footer-section .forth {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

body footer .container .footer-section .forth li a {
  font-size: 17px;
}

body footer .container .footer-section .fifth {
  margin: 60px 35px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

body footer .container .footer-section .fifth a i {
  font-size: 15px;
  border: 1px solid var(--white);
  padding: 5px;
  border-radius: 50%;
}

@media screen and (min-width: 700px) {
  body .container {
    width: 85%;
  }
  body nav .container ul.navigation {
    gap: 25px;
  }
  body header .container .header-info, body header .container h1, body header .container p {
    margin: 35px;
  }
  body section.features .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  body section.features .container article {
    display: block;
    height: 200px;
    padding: 30px;
  }
  body section.features .container article img {
    width: 15%;
  }
  body section.features .container article img.second {
    margin-top: -15px;
  }
  body section.features .container article h2 {
    font-size: 18px;
  }
  body section.features .container article span {
    font-size: 12px;
  }
  section.testimonial .container {
    width: 85%;
  }
  section.testimonial .container img.quote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto 20px;
  }
  section.testimonial .container .cards-collection {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (300px)[auto-fill];
        grid-template-columns: repeat(auto-fill, 300px);
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.testimonial .container .cards-collection .card {
    margin-bottom: 0;
  }
  section.newsletter .container .newsletter-wrapper {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  section.newsletter .container .newsletter-wrapper form {
    -ms-grid-columns: 65% 35%;
        grid-template-columns: 65% 35%;
  }
}

footer .container .footer-logo img {
  width: 60%;
}

footer .container .footer-section .third {
  margin-left: 35px;
}

footer .container .footer-section .forth {
  margin-left: 35px;
}
/*# sourceMappingURL=style.css.map */