*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

:root{
    --main-background: hsl(218, 28%, 13%);
    --footer-background: hsl(216, 53%, 9%);
    --testimonials-background: hsl(219, 30%, 18%);
    --primary-background: hsl(217, 28%, 15%);
    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);
    --light-red: hsl(0, 100%, 63%);
    --white: hsl(0, 0%, 100%);

    --container-lg: 90%;
    --container-sm: 90%;

    --transition: transform 300ms ease-in-out;
}

body{
    background-color: var(--main-background);
    color: var(--white);
    position: relative;
    z-index: -3;

    &::before{
        content: "";
        height: 480px;
        width: 100vw;
        position: absolute;
        background-color: var(--primary-background);
        top: -30px;
        z-index: -2;
    }

    &::after{
        content: url(../asset/bg-curvy-mobile.svg);
        // background: ;
        position: absolute;
        height: fit-content;
        width: fit-content;
        top: 320px;
        z-index: -1;
    }

    img{
        width: 100%;
    }

    h1, h2, h3, h4, h5, h6{
        font-family: 'Raleway', sans-serif;
    }

    p, span{
        font-family: 'Open Sans', sans-serif;
    }

    a{
        color: white;
        font-weight: 400;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
    }

    a.btn{
        font-family: 'Open Sans', sans-serif;
        color: var(--white);
        background: var(--blue);
        padding: 12px 70px;
        border-radius: 30px;
        font-size: 18px;
        transition: var(--transition);

        &:hover{
            opacity: 80%;
        }
    }

    .container{
        width: var(--container-sm);
        margin: 0 auto;
    }

    section{
        width: 100%;
        margin-top: 150px;
    }

    nav .container{
        margin-top: 30px;
        display: flex;
        align-items: center;
        place-content: space-between;

        a img{
            width: 50%;
        }

        .navigation{
            display: flex;
            gap: 14px;

            a{
                font-size: 13px;
            }
        }
    }

    header .container{
        // background-color: var(--primary-background);
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;

        img{
            width: 95%;
        }

        .header-info{
            text-align: center;

            h1{
                font-size: 27px;
                font-weight: 700;
                line-height: 40px;
                margin-bottom: 20px;
            }

            p{
                font-size: 14px;
                font-weight: 400;
                line-height: 25px;
                padding: 0 15px;
                margin-bottom: 50px;
            }
        }
    }

    section.features .container{
        display: flex;
        flex-direction: column;
        gap: 70px;
        article{
            text-align: center;
            align-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 15px;

            img{
                width: 20%;
                margin-bottom: 20px;
            }

            h2{
                font-size: 20px;
            }
            span{
                font-size: 14px;
                line-height: 25px;
            }
        }
    }

    section.productive .container{
        display: flex;
        flex-direction: column;
        gap: 20px;

        .productive-info{
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;

            img{
                width: 95%;
            }
            h2{
                font-size: 20px;
            }
            span{
                font-size: 14px;
                line-height: 25px;
                padding: 0 8px;
            }   
        }

        a{
            padding: 0 8px;
            margin-top: px;
            color: var(--cyan);
            margin-bottom: 20px;
            position: relative;
            transition: var(--transition);

            &::after{
                position: absolute;
                content: "";
                width: 148px;
                height: 2px;
                background-color: var(--cyan);
                left: 8px;
                bottom: -8px;
            }

            &:hover{
                opacity: 90%;
            }
        }
        
    }

    section.testimonial .container{
        width: 80%;

        img.quote{
            width: 10%;
        }

        .card{
            background: var(--testimonials-background);
            padding: 25px 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 30px;

            span{
                font-size: 11px;
                line-height: 18px;
            }

            .author{
                display: flex;
                gap: 10px;
                align-items: center;

                img{
                    width: 15%;
                    border-radius: 50%;
                }

                .info{
                    h6{
                        font-size: 12px;
                    }
                    span{
                        font-size: 10px;
                    }
                }
            }
        }
    }

    section.newsletter{
        // background: ;
        height: 200px;
    }
    section.newsletter .container .newsletter-wrapper{
        position: relative;
        padding: 40px 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
        background: var(--primary-background);
        border-radius: 10px;
        box-shadow: 3px 3px 20px black;

        h2{
            font-size: 20px;
        }

        span{
            font-size: 14px;
            line-height: 25px;
        }

        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            input{
                width: 100%;
                padding: 15px 30px;
                font-size: 12px;
                background: var(--white);
                border-radius: 50px;

                &::placeholder{
                    color: rgb(185, 184, 184);
                }
            }
            button{
                font-size: 14px;
                font-weight: 700;
                padding: 15px;
                border-radius: 50px;
                font-family: 'Open Sans', sans-serif;
                background: var(--blue);
                color: var(--white);
                width: 100%;
            }
        }
    }

    footer{
        background: var(--footer-background);
    }
    footer .container{
        padding-top: 250px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .footer-logo{
            width: 50%;
        }

        .footer-section{
            .first{
                display: flex;
                gap: 20px;
                img{
                    margin-top: 5px;
                    width: 15%;
                    height: 15%;
                }
                span{
                    font-size: 17px;
                }
            }
            .second{
                margin-top: 20px;
                display: flex;
                flex-direction: column;

                .phone{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    margin-bottom: 15px;

                    img{
                        width: 5%;
                        height: 5%;
                    }
                }
            }

            .third{
                margin-top: 60px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                li{
                    a{
                        font-size: 17px;
                    }
                }
            }

            .forth{
                margin-top: 60px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                li{
                    a{
                        font-size: 17px;
                    }
                }
            }

            .fifth{
                margin: 60px 0 40px;
                display: flex;
                gap: 10px;
                justify-content: center;

               
                a{
                    i{
                        font-size: 15px;
                        border: 1px solid var(--white);
                        padding: 5px;
                        border-radius: 50%;
                    }
                }
                
            }
        }
    }
}